<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

<title>Investment Calculator</title>

<link rel="stylesheet" th:href="@{/lib/bootstrap/dist/css/bootstrap.min.css}"/>
<link rel="stylesheet" th:href="@{/css/simple-template.css}"/>
          
<script th:src="@{/lib/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/lib/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/lib/plotly/dist/plotly.js}"></script>
<script th:src="@{/lib/plotly/dist/plotly.min.js}"></script>
<script th:src="@{/js/home.js}"></script>
<script th:src="@{/js/common.js}"></script>

</head>
	<body data-gr-c-s-loaded="true">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Investment Guide Application</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <!-- <li><a href="#contact">Contact</a></li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

	 	<div class="starter-template">
			<h1>Investment Calculator</h1>
	  		<p class="lead">This application help you to estimate money you need to deposit for Bank Fixed Account.</p>
	  		<p>** Thai Bank interest rate less than 6%, and limit Deposit to 60 years**</p>
     	</div>
     	
     	<div class="row">
     		<!--   ####  Column- Left : Input #### -->
			<div class="col-md-6">
				<div class="form-horizontal">
				<div class="form-group">
					<label for="inputStartBalance" class="control-label col-md-5">Start Balance</label>
					<div class="input-group">
						<input id="inputStartBalance" type="number" min="0" class="form-control" placeholder="" />
						<div class="input-group-addon">฿</div>
					</div>
				</div>
				<div class="form-group">
					<label for="inputAnnualRate" class="control-label col-md-5">Annual Rate</label>
					<div class="input-group">
						<input id="inputAnnualRate" type="number" min="0" class="form-control" placeholder="" />
						<div class="input-group-addon">%</div>
					</div>
				</div>
				<div class="form-group">
					<label for="inputMonthlyAdd" class="control-label col-md-5">Monthly Addition</label>
					<div class="input-group">
						<input id="inputMonthlyAdd" type="number" min="0" class="form-control" placeholder="" />
						<div class="input-group-addon">฿</div>
					</div>
				</div>
				<div class="form-group">
					<label for="inputMonthPeriod" class="control-label col-md-5">Period</label>
					<div class="col-xs-5 input-group">
						<input id="inputMonthPeriod" type="number"  min="1" step="1" max="60" class="form-control" placeholder="" />
						<div class="input-group-addon">Months</div>
					</div>
				</div>
				<div class="form-group">
					<div class="" style="text-align: center;">
						<button id="btnSubmitCalc" type="submit" class="btn btn-primary">Calculate</button>
					</div>
				</div>
				</div>
			</div>
			<!--   ####  Column- Right : Output #### -->
			<div id="report-summary" class="col-md-offset-1 col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">Report Summary</div>
					<div class="panel-body">
						<ul class="list-group list-group-flush">
							<li class="list-group-item">Total Interest &nbsp;&nbsp;:<span class="totalInterest"></span></li>
							<li class="list-group-item">Total Contributions &nbsp;&nbsp;:<span class="totalContrib"></span></li>
						</ul>
						<p class="message">**This value was already included Tax 15% of Interest</p> 
					</div>
			    </div>
			</div>
		</div>
		
		<div id="invest-summary" >
			<div class="contributionDiv plotDiv"></div>
			<!-- <div class="interestDiv plotDiv"></div> -->
		</div>
		
	</div><!-- /.container -->
    </body>
    <script th:inline="javascript">
    	$(document).ready(function(){
    		var contextPath = /*[[@{/}]]*/ 
    		mainApp.init(contextPath);
    	});
	</script>
</html>